// Заголовки, загальні БЕМ блоки та інше...
.block-header {
    display: grid;
    gap: toRem(20);
    justify-items: start;
    &__label {
    line-height: 156.25%;
    text-transform: capitalize;
    }
         &__title {
     color: $goldColor;
    font-family: Italiana;
    font-size: toRem(48);
    text-transform: capitalize;
         }
         &__text {
          display: grid;
          gap: toRem(20);
          line-height: 156.25%;
    blockquote {
          font-style: italic;
    }
         }
         &__button {

         }
    
}  
